fastapi==0.121.1
uvicorn==0.38.0
sqlmodel==0.0.27
SQLAlchemy==2.0.44
requests==2.32.5
python-dotenv==1.2.1
passlib==1.7.4
bcrypt==3.1.7
PyJWT==2.10.1
Jinja2==3.1.6
pydantic==2.12.4
torch==2.9.1
transformers==4.39.3
psycopg2-binary==2.9.11
